/* ################################################################ */
/* ########################## MAIN STUFF ########################## */
/* ################################################################ */

/* main stuff */

html {
    overflow: hidden;
}
.m-auto {
    margin: auto;
}
img {
    width: 100%;
    height: auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}
a {
    all: unset;
}
textarea {
    resize: none;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}
.content {
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    height: 100%;
}
.content.visible {
    transform: translateY(0);
    opacity: 1;
}
.logo-section {
    max-width: 500px;
}

/* ################################################################################################################################ */
/* ################################################################################################################################ */
/* ########################################################## HOME PAGE ########################################################### */
/* ################################################################################################################################ */
/* ################################################################################################################################ */

/* ################################################################ */
/* ####################### BACKGROUND STUFF ####################### */
/* ################################################################ */

/* background  */
.background.home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* bubbles stuff */
.bubble {
    position: absolute;
    background-color: #ACE6FF; 
    width: 70px;
    height: 30px;
    border-radius: 20px;

    /* font-family: Arial; */
    font-weight: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    pointer-events: none; 
    transition: transform 0.5s ease;
}
.bubble:hover {
    font-weight: bold;
    font-size: 19px;
}

/* ################################################################ */
/* ########################## MAIN STUFF ########################## */
/* ################################################################ */

/* top section */
.top-section.home {
    float: right;
    max-width: 100px;
}

/* title section */
.title-text-section.home {
    height: 300px;
    max-width: 1250px;
}

/* buttons section */
.button-section.home {
    height: auto;
}

/* title section */
.title-text-section.home {
    height: 300px;
}

/* buttons section */
.button-section.home {
    height: auto;
}
.btn.home {
    background-color: gray;    
    padding: 45px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    color: white;
    text-shadow: 2px 2px black;
    border-radius: 20px;
    font-size: 25px;
    transition: 0.5s ease;
}
.btn.home:hover {
    box-shadow: 2px 2px black;
    background-color: darkgray;
    font-size: 30px;
    padding: 40px;
    text-shadow: 2px 2px royalblue;
    font-weight: bold;
    transform: translateX(-3px) translateY(-3px);
}
.btn.home:active {
    color: white;
    box-shadow: none;
    transform: translateX(3px) translateY(3px);
}

.btn-1 {
    background-color: royalblue;    
    padding: 25px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    font-size: 25px;
    transition: 0.5s ease;
}
.btn-1:hover {
    background-color: #ACE6FF;
    font-size: 30px;
    color: black;
    padding: 20px;
    font-weight: bold;
}

.btn-2 {
    background-color: royalblue;    
    padding: 15px 5px 15px 5px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    transition: 0.5s ease;
    justify-content: center;
}
.btn-2:hover {
    background-color: #ACE6FF;
    font-size: 20px;
    color: black;
    padding: 0px;
    font-weight: bold;
}

/* news section */
.news-section.home {
    height: 500px;
    position: relative;
}
.news-section-header.home {
    height: 10%;
    z-index: 999;
}
.news-section-header-title.home {
    background-color: #ACE6FF;
    padding: 15px;
    border-radius: 25px;
    color: white;
    text-shadow: 2px 2px black;
    transition: 0.5s ease;
}
.news-section-header-title.home:hover {
    text-shadow: 2px 2px royalblue;
    transition: 0.5s ease;
    font-size: 20px;
}
.news-section-body.home {
    /* sizing */
    height: 85%;
    width: 90%;

    /* centering */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    /* other */
    background-color: grey;
    border: 1px solid black;
    border-radius: 20px;
}
.news-section-body-item.home {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding: 15px;
    height: 100%;
}
.news-section-body-item.home:first-child {
    border-left: none;
}
.news-section-body-item-title.home {
    color: black;
    flex: 0 0 15%;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; /* Add some margin to separate title from text */
}
.news-section-body-item-text.home {
    color: black; /* Adjust text color as needed */
    display: -webkit-box;
    -webkit-line-clamp: 13; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s ease; /* Transition for -webkit-line-clamp */
}
.news-section-body-item-text.home:hover {
    text-shadow: 2px 2px white;
    transition: 0.5s ease;
}


/* ################################################################################################################################ */
/* ################################################################################################################################ */
/* ######################################################### PROFILE PAGE ######################################################### */
/* ################################################################################################################################ */
/* ################################################################################################################################ */

/* ################################################################ */
/* ########################## MAIN STUFF ########################## */
/* ################################################################ */

/* settings section */
.settings-section.profile {
    float: right;
    max-width: 100px;
    box-sizing: border-box; 
}

/* head section */
.head-section.profile {
    max-width: 200px;
}

/* horizontal line */
.line.profile {
    width: 90%;
}

/* main1 section */
.main1-section.profile {
    width: 90%;
}
.description.profile {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
}
.description-button.profile {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: #ACE6FF;
    width: auto;
    transition: 0.5s ease;
    text-align: center;
}
.description-button.profile:hover {
    background-color: #63D0FF;
    transition: 0.5s ease;
    box-shadow: 2px 2px black;
    transform: translateX(-3px) translateY(-3px);
}
.description-button.profile:active {
    box-shadow: none;
    transform: translateX(3px) translateY(3px);
}
.friends-section.profile {
    height: 142px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

/* main2 section */
.main2-section.profile {
    width: 90%;
}
.guess-title.profile {
    width: 100%;
}
.expand-guess-button.profile {
    all: unset;
    float: right;
    max-width: 15px;
    transition: 0.5s ease;
}
.expand-guess-button.profile.active {
    transform: rotate(45deg);
}
.expand-guess-button.profile:hover {
    max-width: 20px;
    transition: 0.5s ease;
}
.guess-section.profile {
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ease;
}
.guess-section.profile.active {
    height: 400px;
    transition: 0.5s ease;
}

/* ################################################################################################################################ */
/* ################################################################################################################################ */
/* ########################################################## SURVEY PAGE ######################################################### */
/* ################################################################################################################################ */
/* ################################################################################################################################ */

.survey-page {
    display: none;
}
.survey-page.active {
    display: block;
}
.go-left.survey {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.go-right.survey {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.fade-in.survey {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.back-button.survey {
    max-width: 25px;
}
.next-button.survey {
    max-width: 25px;
}


/* ################################################################ */
/* ########################## MAIN PAGE ########################### */
/* ################################################################ */

/* logo section */
.logo-section.survey {
    padding-top: 100px;
}

/* message section */
.message-section.survey {
    width: 100%;
    padding-top: 100px ;
}
.message.survey {
    font-weight: bolder;
}

/* horizontal line */
.line.survey {
    width: 90%;
}

/* caption section */
.caption-section.survey {
    width: 100%;
}
.caption.survey {
    font-weight: 300;
    font-size: 20px;
}

/* button section */
.button-section.survey {
    padding-top: 300px;
    width: 100%;
    padding-bottom: 150px;
}
.button.survey {
    all: unset;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #ACE6FF;
    color: black;
    transition: 0.5s ease;
    padding: 20px;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
}
.button.survey:hover {    
    transition: 0.5s ease;
    box-shadow: 2px 2px black;
    transform: translateX(-3px) translateY(-3px);
}
.button.survey:active {
    box-shadow: none;
    transform: translateX(3px) translateY(3px);
}

/* bottom section */
.bottom-section.survey {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bottom-text.survey {
    background: -webkit-linear-gradient(360deg, #00B2FF, #006B99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn.survey {
    max-width: 75px;
    float: right;
}

/* ################################################################ */
/* ########################### AGE PAGE ########################### */
/* ################################################################ */

.age-section.survey {
    padding-top: 150px;
}
.age-button.survey {
    all: unset;
    background-color: #ACE6FF;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
    width: 10%;
    transition: 0.15s ease;
}
.age-button.survey:hover {
    transition: 0.15s ease;
    box-shadow: 1px 1px black;
    transform: translateX(-1px) translateY(-1px);
}
.age-button.survey:active {
    box-shadow: none;
    transform: translateX(1px) translateY(1px);
    transition: 0.15s ease;
}
.age-button.survey.active {
    background-color: #63D0FF;
    transition: 0.15s ease;
}
.age-section1.survey .col {
    display: flex; /* Use flexbox to center buttons vertically */
    justify-content: center; /* Center items horizontally */
}
.age-section1.survey {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.age-section2.survey .col {
    display: flex; /* Use flexbox to center buttons vertically */
    justify-content: center; /* Center items horizontally */
}
.age-section2.survey {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


/* button section */
.button-section.survey.age {
    padding-top: 100px;
}
.button.survey.age {
    max-width: 10%;
    display: flex;
    align-items: center;
}

/* ################################################################ */
/* ######################### LOCATION PAGE ######################## */
/* ################################################################ */

.location-section.survey {
    padding-top: 100px;
}
.button-section.survey.location {
    padding-top: 150px;
}
.input-group.location {
    width: 75%;
}
.edu-button.survey {
    all: unset;
    background-color: #ACE6FF;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
    width: 20%;
    transition: 0.15s ease;
}
.edu-button.survey:hover {
    transition: 0.15s ease;
    box-shadow: 1px 1px black;
    transform: translateX(-1px) translateY(-1px);
}
.edu-button.survey:active {
    box-shadow: none;
    transform: translateX(1px) translateY(1px);
    transition: 0.15s ease;
}
.edu-button.survey.active {
    background-color: #63D0FF;
    transition: 0.15s ease;
}

/* ################################################################################################################################ */
/* ################################################################################################################################ */
/* ########################################################## GUESSING PAGE ######################################################### */
/* ################################################################################################################################ */
/* ################################################################################################################################ */

.gslide {
    display: none;
}
.gslide.active {
    display: block;
}
.go-left.gslide {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.go-right.gslide {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.fade-in.gslide {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* ################################################################################################################################ */
/* ################################################################################################################################ */
/* ########################################################## TRENDS PAGE ######################################################### */
/* ################################################################################################################################ */
/* ################################################################################################################################ */

.container.trends {
    height: 100%;
    width: 100%;
}

#bubbles {
    height: 100vh;
}

.bubble-trends {
    background-color: lightblue;
    border-radius: 50%;
    text-align: center;
    line-height: 50px; /* Match the height to center the text */
    font-size: 12px;
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.tooltip {
    position: absolute;
    background-color: red;
    border: 1px solid black;
    padding: 5px;
    display: block; /* Make sure it's visible */
    z-index: 999;
    width: 100px;
    height: 100px;
    top: 50px; /* Adjust as needed */
    left: 50px; /* Adjust as needed */
}